<%- include('../partials/header', { pageTitle: 'Login | PolyCOOP' }) %>

    <main class="display-flex justify-center">
        

        

        <form action="/login" method="POST" class="account-access-form account-access-form-size ">
                <h2>Login to PolyCOOP</h2><br>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="<%= values.username %>" ><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value="<%= values.password %>" ><br><br>
            <button type="submit">Log in</button>
            <p>Don't have an account? <a href="/registration">Sign up</a></p>

            <% if(errors && errors.length > 0) { %>
            <div class="errors-form">
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= error %></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
        </form>
    </main>

    <%- include('../partials/footer') %>
